.Books {
    &__tile {
        background-color: #d5c57a;
        box-shadow: 5px 5px #f1a208;
        border-radius: 12px;
        width: 250px;
        min-height: 600px;
        height: auto;
        padding: 10px;
        margin: 15px;
    }

    &__cover {
        margin: 15px;
        width: 200px;
        border: 10px solid white;
    }
}
