.Modal {
    background-color: #005377;
    box-shadow: 2px 2px #052f5f;
    border-radius: 12px;
    width: 500px;
    max-width: auto;
    min-height: 600px;
    height: auto;
    padding: 10px 30px;
    color: white;
    margin: 15px 0px;
}
