@import "/src/palette.scss";

* {
    font-family: "Jura", sans-serif;
}

.App {
    text-align: center;

    &__logo {
        height: 65px;
    }

    &__header {
        display: flex;

        justify-content: center;
        align-items: center;

        h2 {
            font-family: "IM Fell English";
            font-size: xx-large;
            margin-bottom: 0px;
        }
    }
}
