$app-background: #ddd6f3;
$app-background-light: #ede7ff;
$app-background-dark: #dcd3ff;
$outline: white;

$modal: #876aa1;

$tile-background: #2b85c500;

@mixin background {
    background-color: #aa8caa;
    background-image: linear-gradient(90deg, #c4a0c4 0%, #7bb0b6 100%);
}
